/* Configuracion General */
body
{
  font-family: 'Dancing Script';
}
#cabecera
{
  width:100%;
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
#titulo
{
  text-align: left;
  text-shadow: 2px 2px #02010a;
  width: 60%;
}
#enlaces
{
  text-align: right;
  width: 40%;
}
#cabecera a
{
  color: white;
}
h2 a
{
  text-decoration: none;
  color: black;
}
a[href$='.html']:hover
{
  text-decoration: underline;
}

footer
{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  text-align: left;
}
#pie
{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.foot
{
  width: 25%;
}

/* Pagina Principal*/
#contenido01
{
width: 100%;
background-color: #82c3a6;
margin: 0 auto;
text-align: center;
align-content: center;
}
#pic00
{
  width: 80%;
  box-shadow: 2px 2px black;
  margin: 5vh;
  border: 1px solid black;
}
#contenido02
{
  width: 100%;
  background-color: #d5c75f;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

#Pic01, #Pic02
{
  width: 80%;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}
.img2
{
  width: 50%;
}

#Pic01:hover
{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  border: 1px solid #82c3a6;
}
#Pic02:hover
{
  transform: translate3d(20px, -5px, 0px);
  box-shadow: 2px 2px #82c3a6;
  border: 1px solid #82c3a6;
}
.TitulosImg
{
  width: 50%;
  text-align: center;
}


/* Paginas Secundarias */

#galeria div img
{
  width: 80%;
}
#galeria
{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin-top: 10px;
}
div[class*="img"]
{
  flex: 1 2 30%;
  text-align: center;
}
#imagen1
{
  -webkit-filter:blur:10px;
  filter:blur(10px);
}
#imagen3
{
  -webkit-filter:sepia:90%;
  filter: sepia(90%);
}
.imgpar
{
  -webkit-filter:grayscale:100%;
  filter: grayscale(100%);
}

/*Renderización*/
@media screen and (max-width: 900px)
{
/*General*/
#titulo{width: 100%; Order:1;text-align: center;}
#enlaces{width: 100%; Order:2;text-align: center;}
.foot{width:100%}
#contacto{order:1;}
#termino{order:2;}
#Social{order:3;}
#derechos{order:4;}

/*Pricipal*/
.img2{width:100%;}
#Picture02{ order: 1;}
#TPicture02{ order: 2;}
#Picture03{ order: 3;}
#TPicture03{ order: 4;}

/*Complementarias*/
div[class*="img"]{flex: 1 100%;text-align: center;}
#imagen1:{order:1;}
#imagen2:{order:2;}
#imagen3:{order:3;}
#imagen4:{order:4;}
#imagen5:{order:5;}
#imagen6:{order:6;}

}
