header
{
  background-color: #5b7989;
  color: white;
}
header h1
{
  width: 50%;
  text-align: left;
  text-shadow: 2px 2px #02010a;
}
header nav
{
  width: 50%;
  text-align: right;
}
body
{
  font-family: 'Dancing Script', cursive;
}
